@using Microsoft.Extensions.Localization
@using IndaloaventurApp.SharedUI.Resources

<header class="app-header">
    <div>
        <p class="app-header__welcome">@L["shell_header_welcome"]</p>
        <h1>@L["app_name"]</h1>
    </div>
    <div class="app-header__actions">
        @* <span class="app-header__status">@L["shell_header_status"]</span>
        <button type="button" aria-label="@L["shell_header_notifications"]">🔔</button> *@
    </div>
</header>
